<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>동물의숲 무가격 예측기</title>
        
        <!-- styles -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>[v-cloak] { display:none; }</style>
    </head>
    <body>
        <div id="app">
            <div v-cloak>
                <!-- 점보트론 -->
                <div class="jumbotron jumbotron-fluid bg-dark text-light">
                    <div class="container">
                        <h1 class="display-4 text-center">{{ getMessage("LBL_TITLE") }}</h1>
                    </div>
                </div>

                <!-- 컨텐츠 -->
                <div  class="container">
                    <div class="row">
                        <div class="col">
                            <div class="alert" :class="[ alert.label ]" role="alert" v-if="alert.isEnable">
                                {{ alert.message }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- buttons -->
                        <div class="col-sm">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" @click="save">{{ getMessage("BTN_SAVE") }}</button>
                                <button type="button" class="btn btn-danger" @click="init">{{ getMessage("BTN_INIT") }}</button>
                            </div>
                        </div>

                        <div class="col-sm">
                            <!-- 구매가 -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" for="purchase_select">
                                            {{ getMessage("LBL_SELLING_PRICE") }}
                                        </span>
                                    </div>
                                    <select class="custom-select" id="purchase_select" v-model.number="userPurchasePrice">
                                        <option value="0" selected>?</option>
                                        <option v-for="val in PurchasePriceRange.max - PurchasePriceRange.min + 1" :key="val" 
                                            :value="val + PurchasePriceRange.min - 1">
                                            {{ val + PurchasePriceRange.min - 1 }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- 월요일 -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ getMessage("LBL_MONDAY") }}</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="AM" v-model.number="userPrices[DayOfWeek.DayMonAM]">
                                    <input type="number" class="form-control" placeholder="PM" v-model.number="userPrices[DayOfWeek.DayMonPM]">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <!-- 화요일 -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ getMessage("LBL_TUESDAY") }}</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="AM" v-model.number="userPrices[DayOfWeek.DayTueAM]">
                                    <input type="number" class="form-control" placeholder="PM" v-model.number="userPrices[DayOfWeek.DayTuePM]">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <!-- 수요일 -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ getMessage("LBL_WEDNESDAY") }}</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="AM" v-model.number="userPrices[DayOfWeek.DayWedAM]">
                                    <input type="number" class="form-control" placeholder="PM" v-model.number="userPrices[DayOfWeek.DayWedPM]">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- 목요일 -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ getMessage("LBL_THURSDAY") }}</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="AM" v-model.number="userPrices[DayOfWeek.DayThuAM]">
                                    <input type="number" class="form-control" placeholder="PM" v-model.number="userPrices[DayOfWeek.DayThuPM]">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <!-- 금요일 -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ getMessage("LBL_FRIDAY") }}</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="AM" v-model.number="userPrices[DayOfWeek.DayFriAM]">
                                    <input type="number" class="form-control" placeholder="PM" v-model.number="userPrices[DayOfWeek.DayFriPM]">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <!-- 토요일 -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ getMessage("LBL_SATURDAY") }}</span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="AM" v-model.number="userPrices[DayOfWeek.DaySatAM]">
                                    <input type="number" class="form-control" placeholder="PM" v-model.number="userPrices[DayOfWeek.DaySatPM]">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 예측 테이블 -->
                    <div class="row">
                        <div class="col overflow-auto">
                            <p class="text-left text-danger">* 계산에 따라 값이 약간 차이날 수 있습니다</p>
                            <table class="table table-sm table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th rowspan="2">명칭</th>
                                        <th rowspan="2">{{ getMessage("LBL_SELLING_PRICE") }}</th>
                                        <th colspan="2">{{ getMessage("LBL_MONDAY") }}</th>
                                        <th colspan="2">{{ getMessage("LBL_TUESDAY") }}</th>
                                        <th colspan="2">{{ getMessage("LBL_WEDNESDAY") }}</th>
                                        <th colspan="2">{{ getMessage("LBL_THURSDAY") }}</th>
                                        <th colspan="2">{{ getMessage("LBL_FRIDAY") }}</th>
                                        <th colspan="2">{{ getMessage("LBL_SATURDAY") }}</th>
                                    </tr>
                                    <tr>
                                        <th>{{ getMessage("LBL_AM") }}</th>
                                        <th>{{ getMessage("LBL_PM") }}</th>
                                        <th>{{ getMessage("LBL_AM") }}</th>
                                        <th>{{ getMessage("LBL_PM") }}</th>
                                        <th>{{ getMessage("LBL_AM") }}</th>
                                        <th>{{ getMessage("LBL_PM") }}</th>
                                        <th>{{ getMessage("LBL_AM") }}</th>
                                        <th>{{ getMessage("LBL_PM") }}</th>
                                        <th>{{ getMessage("LBL_AM") }}</th>
                                        <th>{{ getMessage("LBL_PM") }}</th>
                                        <th>{{ getMessage("LBL_AM") }}</th>
                                        <th>{{ getMessage("LBL_PM") }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="filteredRows.length === 0">
                                        <td colspan="14" class="text-center">해당하는 자료가 없습니다</td>
                                    </tr>
                                    <tr v-for="(row, idx) in filteredRows" :key="idx">
                                        <td>{{ row.name }}</td>
                                        <td>
                                            <p v-if="userPurchasePrice === 0 || userPurchasePrice === '0'">
                                                {{ PurchasePriceRange.min }}~{{ PurchasePriceRange.max }}
                                            </p>
                                            <p v-else class="text-success">
                                                {{ userPurchasePrice }}
                                            </p>
                                        </td>
                                        <td v-for="idx in row.size()" :key="idx">
                                            <p v-if="userPrices[idx - 1] > 0" class="text-success">
                                                {{ userPrices[idx - 1] }}
                                            </p>
                                            <p v-else>
                                                {{ row.priceAt(idx - 1).min }}~{{ row.priceAt(idx - 1).max }}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <footer class="bg-light">
                    <div class="container mt-5 px-md-4 py-4">
                        <div class="row px-5">
                            <div class="col-sm col-md-3 offset-md-1 text-center">
                                <a href="https://github.com/han-jinkyu/animal-crossing-turnip.git">Github Repo</a>
                            </div>
                            <div class="col-sm col-md-3 offset-md-4 text-center">
                                <select class="form-control" v-model="lang" @change="changeLanguage">
                                    <option v-for="item in languageMap" :value="item.key">
                                        {{ item.value }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
    
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.13.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.13.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.13.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.13.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.13.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/7.13.1/firebase-analytics.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
</html>
